@model IEnumerable<ProjetoCidades.Models.Cidade>
<div>
    <!--djfjaskldjflkj-->
    <h2>Cidades da Naila :)</h2>
    @{
        foreach(var item in Model){
            @item.Nome
        }
    }
</div>